# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# LaTeX auxiliary files
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex.gz
report/*.toc

# Environment files
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific
.vscode/

report/_minted-report/
